/* Header-Style-Start */
body{
    /* font-family: 'Poppins', sans-serif; */
}
nav{
    display: flex;
}
.title{
    display: inline;
    float: left;
    margin-left: 200px;
    font-size: 30px;
    display: inline;
    margin-top: 60px;
}
nav .page{
    float: left;
    margin-left: 340px;
    margin-top: 60px;
}
nav .page a{
    text-decoration: none;
    margin-right: 45px;
    font-size: 20px;
    font-weight: 700;
}
nav span{
    float: right;
    margin-right: 150px;
    font-size: 28px;
    margin-top: 60px;
}
nav a{
    color: black;
}
nav .search{
    margin-right: 23px;
}
/* Header-Style-End */
/* Banner-Style-Start */
.Banners{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 150px;
}
.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 60px;
}
.banner .banner-content{
    margin-left: 200px;
    margin-top: 100px;
}
.banner .banner-content h1{
    font-size: 50px;
    margin-bottom: 0px;
    display: inline;
}
.banner .banner-content p{
    font-size: 20px;
}
.banner .banner-content a{
    text-decoration: none;
    background-color: aquamarine;
    padding: 15px 20px;
    color: white;
    border-radius: 6px;
}
.banner .banner-image{
    margin-top: 30px;
}
.banner .banner-image img{
    height: 450px;
    object-fit: cover;
}
/* Banner-Style-End */
/* Blog-Style-Start */
.Blogs{
   margin-bottom: 150px; 
}
.blog{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 21px;
    grid-row-gap: 20px;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}
.blog-item{
    border: 3px solid #F3F1FF;
    justify-content: center;
    align-items: center;
}
.blog .blog-image{
    padding: 18px;
    padding-bottom: 0px;
    overflow: hidden;
}
.blog .blog-image img{
    width: 100%;
    transition: 1s;
}
.blog .blog-image img:hover{
    transform: scale(1.1);
}
.blog .blog-content{
    padding-top: 0px;
    margin-top: 0px;
    padding: 17px;
}
.blog .blog-content h2{
    margin-top: 0px;
    font-size: 35px;
    margin-bottom: 10px;
}
.blog .blog-content p{
    margin-top: 20px;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
} 
.blog .blog-content span{
    font-size: 20px;
}
.blog .blog-content .font{
    font-size: 12px;
    margin-bottom: 0px;
}
.blog .blog-content .font span{
    margin-left: 10px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.see-more{
    color: aquamarine;
    text-decoration: none;
    font-size: 22px;
    float: right;
    margin-right: 150px;
    margin-top: 30px;
}
.BlogsTwo{
    margin-bottom: 100px;
}
.blogTwo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    grid-column-gap: 0px;
}
.blogTwo .blogTwo-image{
    overflow: hidden;
}
.blogTwo .blogTwo-image img{
    transition: 0.5s;
}
.blogTwo .blogTwo-image img:hover{
    transform: scale(1.1);
}
.blogTwo .blogTwo-content h2{
    font-size: 45px;
}
.blogTwo .blogTwo-content p{
    font-size: 20px;
}
.blogTwo .blogTwo-content a{
    text-decoration: none;
    background-color: aquamarine;
    padding: 15px 20px;
    color: white;
    border-radius: 6px;
}
/* Blog-Style-End */
/* Footer-Section-Start */
footer{
    height: 160px;
    width: 100%;
    background-color: black;
}
.footer-content h4{
    color: white;
    font-size: 30px;
    margin-bottom: 0px;
    text-align: center;
}
.footer-content p{
    color: white;
    text-align: center;
}
.socal-meida{
    color: white;
    text-align: center;
    margin-top: 20px;
}
.socal-meida .fab{
    margin-right: 20px;
    font-size: 20px;
}
.socal-meida .fas{
    margin-right: 20px;
    font-size: 20px;
}
/* Footer-Section-End */
/* Media-Query */
/* Mobile-Screen */
@media only screen and (max-width: 688px) {
    .title{
        margin-left: 100px;
    }
    .banner{
        grid-template-columns: repeat(1, 1fr);
    }
    .banner .banner-content{
        margin-left: 100px;
    }
    .banner .banner-image img{
        margin-left: 70px;
    }
    .blog{
        grid-template-columns: repeat(1, 1fr);
    }
    .blogTwo{
        grid-template-columns: repeat(1, 1fr);
    }
}
/* Tablet-Screen */
@media only screen and (min-width: 688px) and (max-width: 992px){
    .title{
        margin-left: 100px;
    }
    .banner{
        grid-template-columns: repeat(1, 1fr);
    }
    .banner .banner-content{
        margin-left: 100px;
    }
    .banner .banner-image img{
        margin-left: 70px;
    }
    .blog{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogTwo{
        grid-template-columns: repeat(1, 1fr);
    }
}